@if (isMobile) {
  <app-info-card-mobile
    [title]="title"
    [content]="content"
    [buttonText]="buttonText"
    [imageUrl]="imageUrl"
    [listItemsTitle]="listItemsTitle"
    [listItems]="listItems"
    [action]="action"
    (cardAction)="onCardAction($event)"
  ></app-info-card-mobile>
} @else {
  <app-info-card-desktop
    [title]="title"
    [content]="content"
    [buttonText]="buttonText"
    [listItemsTitle]="listItemsTitle"
    [listItems]="listItems"
    [action]="action"
    (cardAction)="onCardAction($event)"
  ></app-info-card-desktop>
}
