@let detail = cardDetail();
<div class="bg-gray-800 p-6 rounded-lg h-full flex flex-col justify-between">
  <h2 class="text-3xl font-bold mb-4">{{ detail?.title }}</h2>
  <p class="text-sm text-gray-400 mb-4">
    {{ detail?.content }}
  </p>
  @if((detail?.listItems?.length ?? 0) > 0) {
  <p class="text-sm text-gray-400 mb-1">>> who should apply:</p>
  <ul class="text-sm text-gray-400 mb-4 list-disc pl-6">
    @for (item of detail?.listItems; track $index) {
    <li>{{ item }}</li>
    }
  </ul>
  }

  <div class="mt-auto">
    <button
      class="cursor-pointer bg-gradient-to-r from-[#F40147] via-[#F833C7] to-[#961DF6] text-white font-bold py-2 px-6 rounded"
      (click)="onButtonClick()"
    >
      {{ detail?.buttonText }}
    </button>
  </div>
</div>
