<app-header class="shrink-0"></app-header> <!-- Fixed height header -->

<main class="flex-1 overflow-hidden">
  <section class="p-8 h-full overflow-y-auto">
    <div class="w-full h-[85vh] overflow-hidden">
      <div class="w-[90%] mx-auto h-full">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 h-full">

          @for (card of infoCards; track card.title; let i = $index) {
          <div class="flex flex-col gap-8 h-full overflow-hidden">

            @if (i % 2 === 0) {
            <!-- Text first -->
            <app-info-card class="flex-1 overflow-auto" [title]="card.title" [content]="card.content"
              [buttonText]="card.buttonText" [listItems]="card.listItems" [listItemsTitle]="card.listItemsTitle">
            </app-info-card>

            @if (card.imageUrl) {
            <img [src]="card.imageUrl" [alt]="card.title"
              class="w-full object-cover rounded-lg border-2 border-[#504057] h-1/2">
            }
            } @else {
            <!-- Image first -->
            @if (card.imageUrl) {
            <img [src]="card.imageUrl" [alt]="card.title"
              class="w-full object-cover rounded-lg border-2 border-[#504057] h-1/2">
            }

            <app-info-card class="flex-1 overflow-auto" [title]="card.title" [content]="card.content"
              [buttonText]="card.buttonText" [listItems]="card.listItems" [listItemsTitle]="card.listItemsTitle">
            </app-info-card>
            }

          </div>
          }

        </div>
      </div>
    </div>

  </section>
</main>